* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,
body {
  height: 100%;
  width: 100%;
}
#baxa {
  height: 400px;
  width: 400px;
  background-image: url(https://images.unsplash.com/photo-1690148887466-f371e1c80896?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1888&q=80);
  background-size: cover;
  background-position: top;
  position: relative;
  animation-name: imgAnimation;
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes imgAnimation {
  from {
    left: 0;
    background-image: url(https://images.unsplash.com/photo-1690148887466-f371e1c80896?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1888&q=80);
  }
  to {
    left: 70%;
    background-image: url(https://images.unsplash.com/photo-1690148887529-7b5cfe58c3b0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1888&q=80);
  }
}
