<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <input type="text" placeholder="Enter msg">
  <button>send msg</button>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
    const roomName = prompt('Enter room name')
    socket.emit('connectToRoom', roomName)

    socket.on('max', msg => {
      console.log(msg)
    })
  </script>
</body>

</html>