@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

h1 {
  width: 40%;
  font-size: 120px;
  font-weight: 900;
  font-family: "Arvo";
  position: absolute;
  top: 25%;
  left: 10%;
}

.p1{
    font-size: 25px;
    width: 25%;
    position:absolute;
    top: 70%;
    left: 40%;
}
.p2{
    font-size: 25px;
    width: 25%;
    position:absolute;
    top: 70%;
    left: 70%;
}

.img1{
    position: absolute;
    bottom: 20%;
    left: 10%;
}

.img2{
    position: absolute;
    top: -300px;
    right:-300px;
}

.img3{
    position: absolute;
    top: px;
    right:px;
}