* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,
body {
  height: 100%;
  width: 100%;
}
/* This is Navigation bar Styling  */
.nav {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  overflow: hidden;
}

.nav > img {
  width: 140px;
  padding-top: 10px;
}

.nav > a {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
  color: rgb(9, 9, 123);
}

/* firts home page styling start from here */
.homepage {
  height: 90%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.homepage .images {
  display: flex;
  justify-content: center;
}
.homepage .images img {
  width: 50%;
}

.midContent {
  position: absolute;
  top: 30px;
  left: 52%;
  transform: translateX(-50%);
}

.midContent h1 {
  color: rgb(8, 8, 52);
  text-align: center;
  font-size: 80px;
}
.midContent img {
  height: 300px;
  margin-left: 150px;
}

/* Register page styling start from here */

.registerPage {
  height: 90%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.registerPage .midContentRgPg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(255, 176, 4, 0.357);
  padding: 40px 70px;
  border: 1px solid black;
  border-radius: 15px;
}

.registerPage .images {
  display: flex;
  justify-content: center;
}
.registerPage .images img {
  width: 50%;
}

.midContentRgPg input{
  font-size: 20px;
  border: 1px solid black;
  border-radius: 6px;
  text-align: center;
}
.midContentRgPg button{
  padding: 10px 30px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 7px;
  margin: 3px;
}
.midContentRgPg button:hover{
 background-color: rgb(7, 7, 78);
 color: white;
 transition: all ease 0.3s;
}

/* show page styling start from here */ 

.showPage {
  height: 90%;
  width: 100%;
  /* background-color: red; */
}
.showPage .midContentShPg {
  text-align: center;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;

}
.showPage .midContentShPg h1{
  font-size: 16px;
}



/* show page styling start from here */ 