<div class="index">
        <%- include("header.ejs") %>
        &nbsp;&nbsp;
        <%- include("nav.ejs") %>
        <img id="homeImg" src="https://img.freepik.com/premium-photo/opened-book-with-flying-pages-butterflies-dark-backgroundgenerative-ai_391052-12859.jpg" alt="">
        <%- include("footer.ejs") %>
    
</div>


