<%- include('header')%>
    <%- include('nav')%>

        <h1 style="color: tomato;">This is Homepage of node app.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, expedita? <br> Repellendus voluptas, quis
            repudiandae reprehenderit sunt illum, <br> ullam eveniet sed nostrum et beatae quam explicabo magnam
            exercitationem odit harum voluptatibus!</p>

        <%- include('footer')%>