<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <nav>
    <h3 class="sub"> homepage</h3>
    <h3 class="sub">about</h3>
    <h3 class="sub">Signup</h3>
  </nav>
  <p>Welcome to <%= title %>
  </p>
</body>

</html>