<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <nav>
    <h3 class="sub"><a href="/">homepage</a> </h3>
    <h3 class="sub"><a href="/about">about</a></h3>
    <h3 class="sub"><a href="/signup">Signup</a></h3>
  </nav>
  <p>Welcome to <%= title %>
  </p>
</body>

</html>