<%- include("header.ejs") %>
<%- include("nav.ejs") %>
<div class="homepage">
      
        <div class="images">
                <img src="https://media.istockphoto.com/id/177004529/photo/book-stack.jpg?s=1024x1024&w=is&k=20&c=Z0GF4p0pehlXEjZYFyhNSDs5NN8L0UqkkgXbCMNQSZo=" alt="e">
                <div class="midContent" >
                        <h1>Welcome TO</h1>
                        <h1>The</h1>
                        <h1>Book Store App</h1>
                        <img src="https://png.pngtree.com/template/20191125/ourmid/pngtree-book-store-logo-template-sale-learning-logo-designs-vector-image_335046.jpg" alt="">
                </div>
                <img src="https://media.istockphoto.com/id/177120759/photo/books-on-white-background.jpg?s=1024x1024&w=is&k=20&c=ibuvJ7Aku6DUhgOuNglDmfV04Kw-bUduoxEKrO05lMk=" alt="">
        </div>
   
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
</script>
<%- include("footer.ejs") %>


