<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%profiles.forEach(function(profiles,index){%>
      <h1><%=profiles.city %></h1>
      <%})%>
  </body>
</html>
