<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>create post</h1>

  <form action="/createPost" method="post">
    <input type="text" name="image" placeholder="Enter image url">
    <input type="text" name="caption" placeholder="Enter caption">
    <input type="submit">
  </form>
</body>

</html>